
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Add User information</h3>
          </div>
            <form  [formGroup]= "form" (ngSubmit) = "onSubmit()">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Name</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" formControlName = "name" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" formControlName = "email" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Role</label>
                        <select type="text" id="input-first-name" class="form-control form-control-alternative" formControlName = "role" >
                            <option> Select Role</option>
                            <option value="admin"> Admin</option>
                            <option value="user"> User</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Password</label>
                          <input type="password" id="input-first-name" class="form-control form-control-alternative" formControlName = "password" >
                        </div>
                      </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Add User</button>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  